.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.viewAllProjects {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.projectCard {
  background-color: gray;
}
