.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 5rem 10rem;
  gap: 3rem;
  color: #333;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.profileContainer img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.profileContainer .name {
  font-size: 4rem;
  font-weight: bolder;
}

.role {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.bio {
  padding: 0 5rem;
  line-height: 1.6;
  font-size: 1rem;
}

/* 태블릿 */
@media (max-width: 1210px) {
  .aboutMe {
    padding: 4rem 4rem;
  }

  .profileContainer {
    gap: 3rem;
  }

  .profileContainer img {
    width: 300px;
    height: 300px;
  }

  .profileContainer .name {
    font-size: 3rem;
  }

  .bio {
    padding: 0 2rem;
  }
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .aboutMe {
    padding: 3rem 1.5rem;
    gap: 2rem;
  }

  .profileContainer {
    flex-direction: column; /* 세로 배치 */
    text-align: center;
    gap: 2rem;
  }

  .profileContainer img {
    width: 200px;
    height: 200px;
  }

  .profileContainer .name {
    font-size: 2.2rem;
  }

  .role {
    font-size: 1.2rem;
  }

  .bio {
    padding: 0;
    font-size: 0.95rem;
  }
}
