.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.categorySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.categoryTitle {
  width: 100%;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #99adff;
  margin-bottom: 1rem;
}

.iconGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 100px;
  height: 70px;
}

.name {
  font-weight: lighter;
}
