.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 5rem; */ /* section 사이의 갭. 전체 다 구현한 후 필요 여부를 따져보자. */
  width: 100%;
  scroll-behavior: smooth;
  background-color: lightcoral;
}

.section {
  display: flex;
  align-items: center;
  width: 80%;
  /* 각 섹션이 화면 전체를 차지하도록 설정 */
  min-height: calc(100vh - 5rem); /* padding 크기, header 크기만큼 빼고! */
  scroll-margin-top: 80px;
  background-color: lightblue;
}
