.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 4rem;
  gap: 4rem;
  width: 80%;
}

.filter {
  display: flex;
  gap: 1.5rem;
}

.filter button {
  all: unset;
  padding: 10px 12px;
  border-radius: 0.5rem;
  background-color: none;
  font-size: 14px;
  font-weight: normal;
  color: #6b7280;
  cursor: pointer;
}

.filter button.active {
  color: #0038cc;
  font-weight: bold;
  background-color: #e6edff;
}

.blogItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

/* 태블릿 */
@media (max-width: 1024px) {
  .blog {
    width: 90%;
    padding: 3rem 2rem;
    gap: 3rem;
  }

  .filter {
    flex-wrap: wrap; /* 줄바꿈 허용해줌 */
    justify-content: center;
    gap: 1rem;
  }
}
/* 모바일 */
@media (max-width: 768px) {
  .blog {
    width: 100%;
    padding: 2.5rem 1.5rem;
    gap: 2.5rem;
  }

  .filter {
    width: 100%;
    justify-content: center;
  }

  .filter button {
    font-size: 13px;
    padding: 8px 10px;
  }

  .blogItem {
    gap: 0.8rem;
  }
}
